<footer class="bottom-nav">

    <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="bi bi-house-fill"></i>
        <span>Home</span>
    </a>

    <a routerLink="/predict" routerLinkActive="active">
        <i class="bi bi-controller"></i>
        <span>Predict</span>
    </a>

    <a routerLink="/leaderboard" routerLinkActive="active">
        <i class="bi bi-trophy-fill"></i>
        <span>Leaderboard</span>
    </a>

    <a routerLink="/results" routerLinkActive="active">
        <i class="bi bi-clipboard2-check-fill"></i>
        <span>Results</span>
    </a>

    <a routerLink="/rules" routerLinkActive="active">
        <i class="bi bi-file-text-fill"></i>
        <span>Rules</span>
    </a>

</footer>