<header class="top-navbar">

    <div class="logo-section">

        <img
            src="/FIFALogo/FIFA-2026-World-Cup.png"
            class="logo">

        <div class="title-section">

            <h5>FIFA World Cup 2026</h5>

            <span>Predictor</span>

        </div>

    </div>

    <div
        class="profile-section"
        routerLink="/profile">

        <img
            [src]="profileImage"
            (error)="profileImage='/Profile/DefaultProfile.png'"
            class="profile-image">

    </div>

</header>