# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build
bin/
obj/

# Node
node_modules/

# Angular
.angular/
dist/

# VS Code
.vscode/

# Logs
*.log
Backend/Core/Club.Core/Club.Core/appsettings.json

