<app-navbar></app-navbar>


<div style="height:70px"></div>

<div class="prediction-page">

    <div class="page-header">

        <h2>
            <i class="bi bi-controller"></i>
            My Predictions
        </h2>

        <span>{{predictions.length}} Predictions</span>

    </div>

    <div class="prediction-card" *ngFor="let item of predictions">

        <div class="card-header">

            <span class="match-type">

                {{item.matchType}}

            </span>

            <span class="match-date">

                <i class="bi bi-calendar-event"></i>

                {{item.matchDate}}

            </span>
            <div class="countdown" *ngIf="item.finished=='FALSE'">

                <i class="bi bi-hourglass-split"></i>

                Starts in

                {{item.countdown}}

            </div>
        </div>



        <div class="teams-section">

            <div class="team">

                <img [src]="item.homeFlag" class="team-logo">

                <h5>{{item.homeTeam}}</h5>

            </div>

            <!-- <div class="vs-score">

                <span class="score">

                    {{item.homeScore}}

                    <span>-</span>

                    {{item.awayScore}}

                </span>

                <small>Prediction</small>

            </div> -->

            <div class="vs-score">

                <span class="score">
                    {{item.homeScore}}
                    <span>-</span>
                    {{item.awayScore}}
                </span>

                <small>Prediction</small>

                <div class="penalty-score" *ngIf="(item.homePenalty > 0 || item.awayPenalty > 0)">

                    <small class="penalty-title">
                        <i class="bi bi-bullseye"></i>
                        Penalties
                    </small>

                    <div class="penalty-result">
                        {{item.homePenalty}}
                        <span>-</span>
                        {{item.awayPenalty}}
                    </div>

                </div>

            </div>


            <div class="team">

                <img [src]="item.awayFlag" class="team-logo">

                <h5>{{item.awayTeam}}</h5>

            </div>

        </div>

        <div class="prediction-result">

            <div class="winner">

                <i class="bi bi-trophy-fill"></i>

                {{item.winner}}

            </div>



            <span *ngIf="item.finished=='FALSE'" class="status upcoming">

                <i class="bi bi-clock-fill"></i>

                Upcoming

            </span>

            <span *ngIf="item.finished=='TRUE'" class="status finished">

                <i class="bi bi-check-circle-fill"></i>

                Finished

            </span>

        </div>

        <button class="edit-btn" *ngIf="item.finished == 'FALSE'" [disabled]="item.predictionClosed"
            (click)="editPrediction(item)">

            <i class="bi bi-pencil-square"></i>

            {{
            item.predictionClosed
            ? 'Prediction Closed'
            : 'Edit Prediction'
            }}

        </button>

    </div>

</div>


<!-- Prediction Modal -->
<div class="prediction-overlay" *ngIf="showPredictionModal">

    <div class="prediction-modal">

        <div class="modal-header">

            <h4>Match Prediction</h4>

            <button class="close-btn" (click)="closePrediction()">
                <i class="bi bi-x-lg"></i>
            </button>

        </div>

        <div class="match-preview">

            <div class="team">

                <img [src]="selectedMatch?.homeFlag">

                <h5>{{ selectedMatch?.homeTeam }}</h5>

            </div>

            <div class="vs-section">

                <span class="vs">VS</span>

            </div>

            <div class="team">

                <img [src]="selectedMatch?.awayFlag">

                <h5>{{ selectedMatch?.awayTeam }}</h5>

            </div>

        </div>

        <label class="label">
            Predict Final Score
        </label>

        <div class="score-box">

            <div class="score-team">

                <button class="score-btn" (click)="decreaseHomeScore()">
                    <i class="bi bi-dash-lg"></i>
                </button>

                <input type="number" min="0" [(ngModel)]="prediction.homeScore" (ngModelChange)="updatePrediction()">

                <button class="score-btn" (click)="increaseHomeScore()">
                    <i class="bi bi-plus-lg"></i>
                </button>

            </div>

            <span class="dash">-</span>

            <div class="score-team">

                <button class="score-btn" (click)="decreaseAwayScore()">
                    <i class="bi bi-dash-lg"></i>
                </button>

                <input type="number" min="0" [(ngModel)]="prediction.awayScore" (ngModelChange)="updatePrediction()">

                <button class="score-btn" (click)="increaseAwayScore()">
                    <i class="bi bi-plus-lg"></i>
                </button>

            </div>



        </div>

        <div class="penalty-box" *ngIf="prediction.homeScore == prediction.awayScore && isKnockoutMatch()">

            <label class="label">
                Penalty Shootout
            </label>

            <div class="score-box">

                <div class="score-team">

                    <button class="score-btn" (click)="decreaseHomePenalty()">
                        <i class="bi bi-dash-lg"></i>
                    </button>

                    <input type="number" min="0" [(ngModel)]="prediction.homePenalty"
                        (ngModelChange)="updatePrediction()">

                    <button class="score-btn" (click)="increaseHomePenalty()">
                        <i class="bi bi-plus-lg"></i>
                    </button>

                </div>

                <span class="dash">-</span>

                <div class="score-team">

                    <button class="score-btn" (click)="decreaseAwayPenalty()">
                        <i class="bi bi-dash-lg"></i>
                    </button>

                    <input type="number" min="0" [(ngModel)]="prediction.awayPenalty"
                        (ngModelChange)="updatePrediction()">

                    <button class="score-btn" (click)="increaseAwayPenalty()">
                        <i class="bi bi-plus-lg"></i>
                    </button>

                </div>

            </div>

        </div>


        <div class="prediction-summary">

            <i class="bi bi-trophy-fill"></i>

            {{ predictionResult }}

            <!-- <div class="penalty-score"
     *ngIf="item.homeScore == item.awayScore"> -->
            <div class="penalty-box" *ngIf="prediction.homeScore == prediction.awayScore && isKnockoutMatch()">

                <small>

                    Penalties:
                    {{prediction.homePenalty}} - {{prediction.awayPenalty}}
                </small>

            </div>

        </div>


        <button class="save-btn" (click)="savePrediction()">

            <i class="bi bi-check-circle-fill"></i>

            Save Prediction

        </button>

    </div>

</div>

<app-footer></app-footer>